


<div class="bootstrap-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 padding-1" *ngFor="let user of userList; index as ind">
                <mat-card class="example-card">
                    <mat-card-header class="text-center">
                        <div class="container-fluid icon mleft-0">
                            <mat-icon mat-list-icon [inline]="true">account_box</mat-icon>
                        </div>
                    </mat-card-header>
                    <mat-card-content>
        
                        <mat-action-list>
                            
                            <mat-list-item class="mt"><mat-icon mat-list-icon class="mat-18">badge</mat-icon>{{ user.id }}</mat-list-item>
                            <mat-list-item class="mt">
                                <mat-icon mat-list-icon class="mat-18">email</mat-icon>{{ user.email }}
                            </mat-list-item>
                            <mat-list-item class="mt"><mat-icon mat-list-icon class="mat-18">face</mat-icon>{{ user.fullname }}</mat-list-item>
                            <mat-list-item class="mt"><mat-icon mat-list-icon class="mat-18">play_arrow</mat-icon>{{ user.roles?.values()?.next()?.value["role"] }}</mat-list-item>
                      
                        </mat-action-list>
                    </mat-card-content>
                    <button class="full-width" (click)="deleteUser(user)" mat-raised-button color="warn">Delete</button>
                  </mat-card>

            </div>
        </div>
    </div>
</div>