<div class="bootstrap-wrapper">

    <div class="container ">

        <div class="row">

            <div class="col-md-6 offset-md-3">

                <mat-card color="primary">
                    <mat-card-header class="text-center">
                        <div class="container text-center">
                            <img src="../../../assets/loginlogo.jpg" alt="" srcset="">
                            <mat-card-title style="font-weight: bold;">Add Coupon</mat-card-title>
                        </div>
                    </mat-card-header>
                    <mat-card-content>
                        <form #f="ngForm" (ngSubmit)="f.form.valid && addCouponAction()">

                            <div class="alert alert-danger" *ngIf="errorMessage">
                                {{errorMessage}}
                            </div>
                            <div>
                            <div style="margin-bottom:30px">
                                <label for="formFile" class="form-label">Default file input example</label>
                                <input class="form-control" type="file" id="formFile" (change)="onImageUpload($event)">
                              </div>
                            </div>

                            <p>
                                <mat-form-field class="full-width" appearance="outline">
                                    <mat-label>Add Url</mat-label>
                                    <input matInput placeholder="Coupon Url" name="url" id="url" required #url="ngModel"
                                        [class.is-invalid]="url.invalid && url.touched" [(ngModel)]=coupon.url>

                                    <mat-error *ngIf="url.errors?.['required']">
                                       Url is required
                                    </mat-error>

                                </mat-form-field>
                            </p>
                            <p>
                                <mat-form-field class="full-width" appearance="outline">
                                    <mat-label>Code</mat-label>
                                    <input matInput placeholder="Coupon Code" name="code" id="code" required #code="ngModel"
                                        [class.is-invalid]="code.invalid && code.touched" [(ngModel)]=coupon.code>

                                    <mat-error *ngIf="code.errors?.['required']">
                                        Code is required
                                    </mat-error>

                                </mat-form-field>
                            </p>


                            <p>
                                <mat-form-field class="full-width" appearance="outline">
                                    <mat-label>Coupon Name</mat-label>
                                    <input matInput placeholder="Coupon Name" name="name" id="name" required #name="ngModel"
                                        [class.is-invalid]="name.invalid && name.touched" [(ngModel)]=coupon.couponname>

                                    <mat-error *ngIf="name.errors?.['required']">
                                        Coupon name is required
                                    </mat-error>

                                </mat-form-field>
                            </p>

                            <p>
                                <mat-form-field class="full-width" appearance="outline">
                                    <mat-label>Description</mat-label>
                                    <textarea matInput name="description" id="description" #description="ngModel" [(ngModel)]=coupon.description></textarea>

                                </mat-form-field>
                            </p>


                            <p>
                                <mat-form-field class="full-width" appearance="outline">
                                    <mat-label>Choose a Start date</mat-label>
                                    <input matInput [matDatepicker]="picker" [(ngModel)]=coupon.startDate #startDate="ngModel" name="startDate" id="startDate">
                                    <mat-datepicker-toggle matSuffix [for]="picker" ></mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker>
                                  
                                </mat-form-field>
                            </p>


                            <p>
                                <mat-form-field class="full-width" appearance="outline">
                                    <mat-label>Choose a End date</mat-label>
                                    <input matInput [matDatepicker]="picker1" [(ngModel)]=coupon.endDate #endDate="ngModel" name="endDate" id="endDate" >
                                    <mat-datepicker-toggle matSuffix [for]="picker1" ></mat-datepicker-toggle>
                                    <mat-datepicker #picker1></mat-datepicker>
                                  
                                </mat-form-field>
                            </p>

                            
                            <p>
                                <mat-form-field  class="full-width" appearance="outline">
                                    <mat-label >Choose offer</mat-label>
                                    <input matInput placeholder="Code offer" name="offer" id="offer" required #offer="ngModel"
                                        [class.is-invalid]="offer.invalid && offer.touched" [(ngModel)]=coupon.offer>

                                    <mat-error *ngIf="offer.errors?.['required']">
                                        Coupon offer is required
                                    </mat-error>

                                </mat-form-field>
                            </p>

                            <p>
                                <mat-form-field class="full-width" appearance="outline">
                                    <mat-label>Choose a Category</mat-label>
                                    <mat-select (blur)="validateCategory(category.value)" (change)="validateCategory(category.value)"
                                        #category="ngModel" [class.is-invalid]="categoryHasError && category.touched" name="category"
                                        id="" [(ngModel)]=coupon.category>
                                        <mat-option *ngFor="let category of categories" value="{{category}}">{{category}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </p>

                            <!-- <p>
                                <mat-form-field class="full-width" appearance="outline">
                                    <mat-label>Add an image</mat-label>
                                    <input matInput type="file" (change)="onImageUpload($event)" name="file" id="file" required>

                                </mat-form-field>
                            </p> -->

                            

                            <div class="container text-center">
                                <button type="submit" [disabled]="f.form.invalid || categoryHasError" mat-raised-button
                                    color="primary">Add Coupon</button>
                            </div>

                        </form>
                    </mat-card-content>
                </mat-card>

            </div>
        </div>
    </div>

</div>
