.padding-0{
    padding-right:0;
    padding-left:1px;
}

.container-bg
{
    background-color: #ebebeb !important;
}

.dashboard-col-2
{
    background-color: rgb(241, 240, 237);
    min-height: 590px
}